In [1]:
# Import dependencies
import pandas as pd
pd.set_option('max_colwidth', 1400)

In [2]:
# Read the data into a Pandas DataFrame (crimes.xlsx)
all_crimes_data_df = pd.read_excel('crimes.xlsx')
all_crimes_data_df.head()

,Year,Year ending,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count,"Rate per 100,000 population"
0,2023,March,A Crimes against the person,A10 Homicide and related offences,A11 Murder,57,0.843550
1,2023,March,A Crimes against the person,A10 Homicide and related offences,A12 Attempted murder,24,0.355179
2,2023,March,A Crimes against the person,A10 Homicide and related offences,A14 Manslaughter & A13 Accessory/ conspiracy to murder,22,0.325581
3,2023,March,A Crimes against the person,A10 Homicide and related offences,A15 Driving causing death,96,1.420715
4,2023,March,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,6713,99.346458

In [3]:
# Get a brief summary of the all_crimes_data_df DataFrame to check data types and number of entries.
brief_summry = all_crimes_data_df.info()
brief_summry

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123 entries, 0 to 1122
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         1123 non-null   int64
 1   Year ending                  1123 non-null   object
 2   Offence Division             1123 non-null   object
 3   Offence Subdivision          1123 non-null   object
 4   Offence Subgroup             1123 non-null   object
 5   Offence Count                1123 non-null   int64
 6   Rate per 100,000 population  1123 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 61.5+ KB

In [4]:
# Remove any empty rows (all_crimes_data_df)
all_crimes_data_df.dropna()

,Year,Year ending,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count,"Rate per 100,000 population"
0,2023,March,A Crimes against the person,A10 Homicide and related offences,A11 Murder,57,0.843550
1,2023,March,A Crimes against the person,A10 Homicide and related offences,A12 Attempted murder,24,0.355179
2,2023,March,A Crimes against the person,A10 Homicide and related offences,A14 Manslaughter & A13 Accessory/ conspiracy to murder,22,0.325581
3,2023,March,A Crimes against the person,A10 Homicide and related offences,A15 Driving causing death,96,1.420715
4,2023,March,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,6713,99.346458
...,...,...,...,...,...,...,...
1118,2014,March,F Other offences,F90 Miscellaneous offences,F91 Environmental offences,42,0.712478
1119,2014,March,F Other offences,F90 Miscellaneous offences,F92 Public health and safety offences,52,0.882116
1120,2014,March,F Other offences,F90 Miscellaneous offences,F93 Cruelty to animals,240,4.071304
1121,2014,March,F Other offences,F90 Miscellaneous offences,F94 Dangerous substance offences,19,0.322312
1122,2014,March,F Other offences,F90 Miscellaneous offences,F99 Other miscellaneous offences,78,1.323174

In [5]:
# Read the data into a Pandas DataFrame (Drugs.xlsx)
drugs_df = pd.read_excel('Drugs.xlsx')
drugs_df.head()

,Year,Year ending,Offence Subdivision,Offence Group,Offence Description,CSA Drug Type,Offence Count
0,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,INTRODUCE DRUG INTO REMAND CENTRE,Not Recorded,4
1,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SEND NARCOTIC SUBSTANCE IN POST-C'WEALTH,Not Recorded,3
2,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SUPPLY A CONTROLLED DRUG TO A CHILD,Not Recorded,11
3,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SUPPLY DOD TO CHILD - USE BY THAT CHILD,Not Recorded,33
4,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SUPPLY DOD TO CHILD-TO SUPPLY ANOR PERSN,Not Recorded,2

In [6]:
# Get a brief summary of the drugs_df DataFrame to check data types and number of entries.
brief_summry = drugs_df.info()
brief_summry

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073 entries, 0 to 2072
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 2073 non-null   int64
 1   Year ending          2073 non-null   object
 2   Offence Subdivision  2073 non-null   object
 3   Offence Group        2073 non-null   object
 4   Offence Description  2073 non-null   object
 5   CSA Drug Type        2073 non-null   object
 6   Offence Count        2073 non-null   int64
dtypes: int64(2), object(5)
memory usage: 113.5+ KB

In [7]:
# Remove any empty rows (drugs_df)
drugs_df.dropna()

,Year,Year ending,Offence Subdivision,Offence Group,Offence Description,CSA Drug Type,Offence Count
0,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,INTRODUCE DRUG INTO REMAND CENTRE,Not Recorded,4
1,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SEND NARCOTIC SUBSTANCE IN POST-C'WEALTH,Not Recorded,3
2,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SUPPLY A CONTROLLED DRUG TO A CHILD,Not Recorded,11
3,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SUPPLY DOD TO CHILD - USE BY THAT CHILD,Not Recorded,33
4,2023,March,C10 Drug dealing and trafficking,C11 Drug dealing,SUPPLY DOD TO CHILD-TO SUPPLY ANOR PERSN,Not Recorded,2
...,...,...,...,...,...,...,...
2068,2014,March,C90 Other drug offences,C99 Other drug offences,RETAIL OUTLET DISPLY CANNABIS WATER PIPE,Not Coded,1
2069,2014,March,C90 Other drug offences,C99 Other drug offences,SELL A CANNABIS WATER PIPE,Not Coded,1
2070,2014,March,C90 Other drug offences,C99 Other drug offences,SELL A COCAINE KIT,Not Coded,1
2071,2014,March,C90 Other drug offences,C99 Other drug offences,SELL CANNABIS WATER PIPE - COMM ACTIVITY,Not Coded,1
2072,2014,March,C90 Other drug offences,C99 Other drug offences,SUPPLY AN ICE PIPE,Not Coded,3

In [8]:
# Export both dataframes as CSV files.
all_crimes_data_df.to_csv("crimes.csv", index=False)

drugs_df.to_csv("drugs.csv", index=False)